{
	admin off
	log default {
		output stdout
		format filter {
			wrap json
			fields {
				request>uri query {
					replace token REDACTED
					replace target REDACTED
					replace signature REDACTED
				}
			}
		}
	}
}

{$RIVUNE_HOST:localhost} {
	reverse_proxy rivune:8080 {
		header_up X-Real-IP {remote_host}
	}

	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>uri query {
					replace token REDACTED
					replace target REDACTED
					replace signature REDACTED
				}
			}
		}
	}
}
