<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://github.com/moodiness/rivune/tizen"
        version="1.13.1"
        viewmodes="maximized">
  <tizen:application id="RivuneTV01.Rivune" package="RivuneTV01" required_version="5.5" />
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <icon src="icon.png" />
  <name>Rivune</name>
  <description>Rivune media client for Samsung Smart TVs</description>
  <author href="https://github.com/moodiness/rivune">Rivune</author>
  <license href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</license>
  <access origin="*" subdomains="true" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <tizen:privilege name="http://tizen.org/privilege/unlimitedstorage" />
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
  <tizen:privilege name="http://developer.samsung.com/privilege/avplay" />
  <tizen:privilege name="http://developer.samsung.com/privilege/productinfo" />
  <tizen:privilege name="http://developer.samsung.com/privilege/avinfo" />
  <tizen:profile name="tv-samsung" />
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 install-location="auto"
                 hwkey-event="enable" />
</widget>
